<!DOCTYPE html>
<html>
<head lang="en">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>趣做CEO</title>
    <meta name="msapplication-tap-highlight" content="no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="x5-fullscreen" content="true">
    <meta name="full-screen" content="yes">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"/>
    <link rel="stylesheet" type="text/css" href="/src/dist/css/style.css" />
    <script src="/src/assets/js/lib/zepto.min.js"></script>
    <script src="/src/assets/js/rem.js"></script>
    <script src="/src/assets/js/common.js"></script>
    <!--<script src="/src/assets/js/api.js"></script>-->
    <!--<script src="/src/assets/js/exchange.js"></script>-->
</head>
<body class="page-home">
<div class="preload">
    <div class="v-content"></div>
</div>
<div id="orientLayer" class="mod-orient-layer">
    <div class="mod-orient-layer__content">
        <i class="icon mod-orient-layer__icon-orient"></i>
        <div class="mod-orient-layer__desc">请在解锁模式下使用竖屏浏览</div>
    </div>
</div>
<!--main content-->
<div class="wrapper">
    <div class="bg">
        我是背景
    </div>
    <div class="container">
        <!-- landing page-->
        <div class="pin pin-1" id="pin-landing">
            <div class="v-content">
                <p>
                    按部就班，<br>
                    就是对理想“见死不救”<br>
                    墨守成规，<br>
                    就是对天性“屈打成招”
                </p>
                <p>
                    成为Lynk & co的CEO<br>
                    在城市旅行中放飞自我<br>
                    在新奇体验中保持新鲜
                </p>
                <p>
                    马上测试你的分数，<br>
                    趣做CEO
                </p>
                <div class="btn btn-gonext">next</div>
            </div>
        </div>
        <!-- 寻找首席体验官-->
        <div class="pin pin-2" id="pin-find">
            寻找首席体验官
        </div>
        <!-- question 1-->
        <div class="pin pin-3 pin-question" id="pin-question-1">
            <div class="inner">
                <div class="q-num">01</div>
                <div class="q-title">CEO</div>
                <div class="question-wrap">
                    <h3 class="title">一句话描述你自己</h3>
                    <div class="tips">选择一个标签或输入自己的答案</div>
                    <ul class="q-lists">
                        <li class="item">
                            4王者带1青铜的“Lucky guys”
                        </li>
                        <li class="item">
                            逼死处女座的“画质狂魔”
                        </li>
                        <li class="item">
                            内心秩序的“禁卫军”
                        </li>
                        <li class="item">一句话让人报警的“老司机”</li>
                        <li class="item">吞吐宇宙的“最强脑洞”</li>
                    </ul>
                    <div class="input-box input-box-custom">
                        <input type="text" placeholder="在此输入自己的答案"/>
                    </div>
                </div>
            </div>
        </div>
        <!-- question 2 请用一件事证明你的能动力-->
        <div class="pin pin-4 pin-question" id="pin-question-2">
            <div class="question-wrap">
                <div class="question-content">
                    <div class="q-num">01</div>
                    <div class="q-title">CEO</div>
                    <h3 class="title">请用一件事证明你的能动力</h3>
                    <div class="tips">晃动手机找出答案</div>
                </div>
                <ul class="q-lists">
                    <li class="item item-A">
                        <div class="tt">A</div>
                        <div class="answer">勇敢去表达把自己的故事纹在身上</div>
                        <div class="btn btn-selected">就选他</div>
                    </li>
                    <li class="item item-B">
                        <div class="tt">A</div>
                        <div class="answer">勇敢去表达把自己的故事纹在身上</div>
                        <div class="btn btn-selected">就选他</div>
                    </li>
                    <li class="item item-C">
                        <div class="tt">A</div>
                        <div class="answer">勇敢去表达把自己的故事纹在身上</div>
                        <div class="btn btn-selected">就选他</div>
                    </li>
                </ul>
            </div>
        </div>
        <!-- question 3 这个按钮关系到最后的结果，思考时间只有15秒，你按还是不按？ -->
        <div class="pin pin-5 pin-question" id="pin-question-3">
            <div class="question-wrap">
                <div class="q-num">01</div>
                <div class="q-title">CEO</div>
                <h3 class="title">
                    这个按钮关系到最后的结果，思考时间只有15秒，
                    你按还是不按？
                </h3>
                <div class="tips">是我就不会去点</div>
                <!-- 倒计时-->
                <div class="btn btn-time">14.20s</div>
            </div>
        </div>


    </div>
</div>
</body>
</html>
