//common setting
.bg{
  position: absolute;
  left: 0;
  top: 0;
  @include size(100%,100%);
  z-index: 1;
  background: url('../../images/bg.jpg') center center no-repeat;
  background-size: cover;
}

//for preload
.preload{
  position: absolute;
  left: 0;
  top: 0;
  z-index: 10;
  @include size(100%,100%);
  background-image:url('../../images/bg.jpg');
  background-position:center center ;
  background-repeat: no-repeat;
  background-size: cover;
  img{
    position: absolute;
    left: 0;
    top: 0;
    z-index: 10;
    @include size(100%,100%);
  }
}

.wrapper{
  opacity: 0;
  &.fadein{
    opacity: 1;
  }
}


//for landing page
#pin-landing{
  color: #fff;
  img{
    position: relative;
    z-index: 1;
  }
  .btn-gonext{
    position: absolute;
    @include size(0.8rem,0.66rem);
    z-index: 2;
    //background: red;
    bottom: 0;
    left: 50%;
    margin-left: -0.4rem;
    text-indent: -999em;
  }
}

//pin-upload
#pin-upload{
  .upload-wrap{
    @include size(6.07rem,8.59rem);
    border: #fff 0.1rem solid;
  }
  .btn-upload{
    position: absolute;
    left: 50%;
    top:50%;
    @include transform(translate(-50%,-50%));
  }
  .canvas-container{
    position: absolute !important;
    top: 0.1rem;
    left: 0.1rem;
    @include size(100%,100%);
  }
  .buttons{
    position: absolute;
    bottom: -1rem;
  }
  #capture{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
  }
}


//
#pin-result-lists{
  .v-content{
    box-sizing: border-box;
    border: #fff 0.1rem solid;
  }
  .result-lists{
    position: absolute;
    left: 0.4rem;
    top: 1rem;
    @include size(4.5rem,3rem);
  }
  #form-contact{
    position: absolute;
    left: 0.4rem;
    top: 5rem;
    .des{
      margin-bottom: 0.3rem;
    }
    input[type="text"],input[type="tel"]{
      border: #fe335d 2px solid;
      @include size(5.16rem,0.7rem);
      line-height: 0.7rem;
      background: transparent;
      font-size: 0.28rem;
      padding: 0 0.2rem;
      box-sizing: border-box;
    }
    .input-box{
      margin-bottom: 0.2rem;
    }
  }
}